.sidebar {

  width: 230px;
  height: 100vh;

  background: #050816;

  padding: 30px 20px;

  position: fixed;
  left: 0;
  top: 0;

  border-right: 1px solid #1d2333;
}

.sidebar-logo {

  color: white;

  font-size: 28px;

  margin-bottom: 50px;
}

.sidebar-links {

  display: flex;
  flex-direction: column;

  gap: 20px;
}

.sidebar-links a {

  color: #cfcfcf;

  text-decoration: none;

  font-size: 18px;

  padding: 12px;

  border-radius: 10px;

  transition: 0.2s;
}

.sidebar-links a:hover {

  background: #10182b;

  color: #3b82f6;
}